* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  background: linear-gradient(180deg, #483eff, #6a5cff);
  color: white;
  padding: 30px 20px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.step span {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.step.active span {
  background: lightblue;
  color: black;
  border: none;
}

.step p {
  font-size: 10px;
  opacity: 0.7;
}

.step h4 {
  font-size: 12px;
}

/* FORM SECTION */
.form-section {
  width: 70%;
  padding: 40px;
}

.form-section h2 {
  margin-bottom: 10px;
}

.form-section p {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-size: 14px;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 30px;
  padding: 12px;
  background: #02295a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}