body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 600px;
    height: 400px;
}

.card {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
    border: 2px solid;
}


.card:hover {
    z-index: 10;          
    
}

.card1 {
    top: 0;
    left: 0;
    z-index: 1;
}

.card2 {
    top: 60px;
    left: 100px;
    z-index: 2;
}

.card3 {
    top: 120px;
    left: 200px;
    z-index: 3;
}