body {
  margin: 0;
  padding: 0;
  background-color: #d5e1ef;
  font-family: 'Arial', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 280px;
  background: #ffffff;
  padding: 16px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.qr {
  width: 100%;
  border-radius: 10px;
}

h3 {
  font-size: 18px;
  color: #1f2f56;
  margin: 15px 0 10px;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #7b879d;
  line-height: 1.5;
}