
<nav class="bg-gray-900 text-white shadow-lg px-6 py-4 flex justify-between items-center">
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-yellow-400 hover:scale-110 transition duration-300">Home</a></li>
  <li><a routerLink="product" routerLinkActive="active" class="hover:text-yellow-400 hover:scale-110 transition duration-300">Products</a></li>
  <li><a routerLink="electronics" routerLinkActive="active" class="hover:text-yellow-400 hover:scale-110 transition duration-300">Electronics</a></li>
  <li><a routerLink="about" routerLinkActive="active" class="hover:text-yellow-400 hover:scale-110 transition duration-300">About</a></li>
</nav>

<router-outlet></router-outlet>