<div class="p-6 bg-gray-100 min-h-screen">

  <h2 class="text-2xl font-bold mb-6">Electronics</h2>

  <div *ngFor="let p of products"
       class="bg-white shadow-md rounded p-4 mb-4 flex justify-between items-center">

    <!-- Left -->
    <div class="flex items-center gap-4">
      <img 
        [src]="p.images?.[0]" 
        class="w-16 h-16 rounded object-cover border"
        alt="product"
      />

      <div>
        <p class="font-semibold">{{ p.title }}</p>
        <p class="text-sm text-gray-500">₹ {{ p.price }}</p>
      </div>
    </div>

    <!-- Right -->
    <span class="text-xs bg-gray-200 px-2 py-1 rounded">
      {{ p.category?.name }}
    </span>

  </div>

</div>